/* Bordered form */

/* Full-width inputs */


/*Style for rating.html */
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}
div#overlay{
	display: none;
	z-index: 2;
	background: #000;
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0px;
	left: 0px;
	text-align: center;
	}
	
	div#lot-window{
		display: none;
		position: fixed;
		z-index: 3;
		width: 70%;
		height: 70%;
		background: #FFF;
		color: #000;
		left: 15%;
		top: 15%;
		text-align: center;
		}
		
	div#rating-window{
		display: none;
		position: fixed;
		z-index: 3;
		width: 70%;
		height: 70%;
		background: #FFF;
		color: #000;
		left: 15%;
		top: 15%;
		text-align: center;
		}
	div#thank-you-window{
		display: none;
		position: fixed;
		z-index: 3;
		width: 70%;
		height: 70%;
		background: #FFF;
		color: #000;
		left: 15%;
		top: 15%;
		text-align: center;
		}
	p#lot-window-recent-ratings{
	text-align: left;
	margin-left: 5%;
	}
	button#lot-window-add-rating{
	position: fixed;
	text-align: center;
	top: 80%;
	left: 47%;
	}
/*End for rating.html */

input[type=text],
input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

/* Set a style for all buttons */

/* Needs to be redone */
.submitButtons {
  height: 40px;
  width: 80px;
  background-color: #3B1869;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border-radius: 40px;
  border: none;
  cursor: pointer;
  width: 100%;
  font-family: 'Montserrat', sans-serif;
  ;
}

/*Style for Tiger Parking header */

.tiger-parking {
  text-align: center;
  color: #FCCF22;
  background-color: #3B1869;
  padding: 10px;
  font-family: 'Montserrat', sans-serif;
}

/* Add a hover effect for buttons */

button:hover {
  opacity: 0.8;
}

.h2 {
  padding: 10px 8px;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}

/* Add padding to containers */

.container {
  padding: 10px;
}

/* Change styles for span and cancel button on extra small screens */

@media screen and (max-width: 300px) {
  span.psw {
    display: block;
    float: none;
  }
}

/* Navigation Bar and General Website Background CSS */
/* If changed be sure to test. Multiple parts form the style*/
body {
  margin: 0;
  background: #fff;
  font-family: 'Montserrat', sans-serif;
  font-weight: 100;
}

.container {
  width: 80%;
  margin: 0 auto;
}

header {
  background: #3B1869;
}

header::after {
  content: '';
  display: table;
  clear: both;
}

.logo {
  float: left;
  padding: 10px 0;
  color: #FCCF22;
  text-align: center;
  width: auto;
  padding: 0.6rem;
  font-size: 1.1rem;
  line-height: 1;
  align-items: center;
  font-weight: lighter;
}

nav {
  float: right;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  display: inline-block;
  margin-left: 70px;
  padding-top: 15px;
  position: relative;
}

nav a {
  color: #FCCF22;
  text-align: center;
  width: auto;
  padding: 0.6rem;
  font-size: 1.1rem;
  line-height: 1;
  display: inline-flex;
  text-decoration: none;
  align-items: center;
  font-weight: lighter;
}

nav a:hover {
  background: #FCCF22;
  color: #3B1869;
  opacity: 50%;
}
