/* Bordered form */

/* Full-width inputs */

input[type=text],
input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

/* Set a style for all buttons */

button {
  height: 40px;
  width: 80px;
  background-color: #3B1869;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border-radius: 40px;
  border: none;
  cursor: pointer;
  width: 100%;
  font-family: 'Montserrat', sans-serif;
  ;
}

/*Style for Tiger Parking header */

.tiger-parking {
  text-align: center;
  color: #FCCF22;
  background-color: #3B1869;
  padding: 10px;
  font-family: 'Montserrat', sans-serif;
}

/* Add a hover effect for buttons */

button:hover {
  opacity: 0.8;
}

.h2 {
  padding: 10px 8px;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}

/* Add padding to containers */

.container {
  padding: 10px;
}

/* Change styles for span and cancel button on extra small screens */

@media screen and (max-width: 300px) {
  span.psw {
    display: block;
    float: none;
  }
}

/* Nav bar CSS */
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }

  .navLink {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  #navLogin {
    float: right; 
    color:  white;
    text-align: center;
    padding: 14px 16px;
  }

  /* Change the link color to #111 (black) on hover */
  li a:hover {
    background-color: #3B1869;
  }
