extends layout

block content
    html.
        <header>
            <div class="container">
            <!-- may replace with actual logo-->
            <h1 class="logo">Tiger Parking</h1>
            <nav>
                <ul>
                <li><a class="navigation-tags" href="/">Home</a></li>
                <li><a class="navigation-tags" href="/about">About</a></li>
                <li><a class="navigation-tags" href="/login">Login</a></li>
                <li><a class="navigation-tags" href="/signup">Singup</a></li>
                </ul>
            </nav>
            </div>
        </header>
